<section>
    <script src="https://cdn.syncfusion.com/ej2/32.1.24/dist/ej2.min.js" type="text/javascript"></script>
    <link href="https://cdn.syncfusion.com/ej2/32.1.24/material.css" rel="stylesheet">
</section>
<section>
    <div id="Schedule"></div>
    <script>
        var scheduleObj = new ej.schedule.Schedule({
            height: '550px',
            width: '100%',
            selectedDate: new Date(2026, 0, 22),
            eventSettings: {
                dataSource: [{
                    Id: 1,
                    Subject: 'Meeting',
                    StartTime: new Date(2026, 0, 22, 10, 0),
                    EndTime: new Date(2026, 0, 22, 12, 30)
                }]
            }       
        });
        scheduleObj.appendTo('#Schedule');
    </script>
</section>
